:root {
  --brand-color: #2196f3;
  --text-color: #757575;
}

:body {
  font-family: "Roboro", sans-serif;
  color: #212121;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

ul {
  padding-inline-start: 0%;
}

.unstyled-list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 47px 0;
}
/*header styling */

.page-header {
  display: flex;
}

.header-logo {
  font: "Raleway";
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  width: 145px;
  padding-top: 24px;
}

.logo-highlight {
  color: var(--brand-color);
}

.main-nav-item {
  display: inline-block;
  margin: 32px 25px;
}

.main-nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
  color: var(--brand-color);
}

.contact-list {
  margin-left: auto;
}
.contact-list-item {
  display: inline-block;
  margin: 32px 20px;
}

.contact-nav-link {
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contact-nav-link:hover,
.contact-nav-link:active,
.contact-nav-link:focus {
  color: var(--brand-color);
}

/* Hero section styling */
.hero-section {
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.main-sec-button {
  color: #ffffff;
  background-color: var(--brand-color);
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.main-sec-button:hover,
.main-sec-button:active,
.main-sec-button:focus {
  background-color: #188ce8;
}

/* page section styling */

.page-section {
}

.page-list-item {
  display: inline-block;
}

.page-sec-subtitle {
  font-weight: 700;
  gap: 30px;
}

.page-sec-text {
  color: var(--text-color);
  line-height: 1.71;
}

/* About section styling */

.about-section {
  margin: 0 auto;
  justify-content: space-between;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}

.about-images {
  display: flex;
  flex-basis: 370px;
  gap: 30px;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: space-between;
}

/* team section styling */

.team-sec {
  background-color: #f5f4fa;
}

.section-title {
  padding-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.team-list-item {
  flex-basis: 270px;
  flex-grow: 0;
  flex-shrink: 1;
  text-align: center;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.position {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  max-width: 270px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  gap: 30px;
}

.card-image {
  max-width: 100%;
  height: auto;
  display: block;
}

/* footer */
.footer-sec {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  width: 145px;
}

.logo-highlight {
  font: "Raleway";
  color: var(--brand-color);
}

.footer-adress {
  color: #ffffff;
}

.footer-contact-link {
  color: #ffffff99;
  display: block;
  padding-top: 12px;
}

/* Portofolio styling */
.portofolio-button {
  background-color: #f5f4fa;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.portofolio-button:hover,
.portofolio-button:active,
.portofolio-button:focus {
  color: #ffffff;
  background-color: var(--brand-color);
}

.portofolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portofolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
